<div class="container">
  <ul class="nav d-flex justify-center gap-10 py-6">
    <li class="nav-list">
      <a href="../pages/index.html" class="nav-link fw-700 fs-3">首頁</a>
    </li>
    <li class="nav-list">
      <a href="../pages/blog.html" class="nav-link fw-700 fs-3">部落格</a>
    </li>
  </ul>
</div>