.banner {
  &-content {
    max-width: 636px;
  }
  &-hashtag {
    color: $primary-color;
  }
  &-tag {
    color: #fff;
    background-color: $primary-color;
    padding: 6px 12px;
    border-radius: 40px;
  }
  &-link {
    color: $info-color;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 40px;
    @include max-lg {
      margin-bottom: 16px;
    }
  }
  @include max-lg {
    flex-direction: column;
  }
  &-img {
    @include max-lg {
      width: 100%;
    }
  }
  &-content-container {
    @include max-lg {
      padding: 0 12px;
    }
  }
}

.blog-border {
  border: 1px solid #6c757d;
}

.blog {
  &-search-link {
    top: 10px;
    left: 15px;
  }
  &-input {
    display: inline-block;
    border: 1px solid #4b4b4b;
    color: #4b4b4b;
    border-radius: 40px;
    padding: 16px 50px 16px 50px;
  }
  &-hashtag {
    color: $primary-color;
  }
  &-tag {
    padding: 6px 12px;
    color: #fff;
    background-color: $primary-color;
    border-radius: 40px;
  }
  &-link {
    padding: 8px 16px;
    color: #4b4b4b;
    border: 1px solid #4b4b4b;
    border-radius: 40px;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
  &-list {
    @include max-xl {
      width: 50%;
    }
    @include max-md {
      width: 100%;
    }
  }
  &-img {
    @include max-xl {
      width: 100%;
    }
  }
  &-nav {
    :hover {
      color: $primary-color;
    }
  }
}

.connect-md-none {
  @include max-md {
    display: none;
  }
}
