<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8ZXP5NXX3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-M8ZXP5NXX3');
  </script>
</head>

<body>
  <%- include('./layout/header'); -%>
    <header class="header d-flex">
      <div class="flex-1">
        <img src="/assets/images/Final/desktop/index/Hero Section.png" alt="woman" class="header-img" />
      </div>
      <div class="header-position flex-1 d-flex f-direction-column justify-center ps-20">
        <h1 class="header-title fw-900 fs-6 mb-3">Alyse Wang</h1>
        <p class="header-text fw-700 fs-3">前端工程師 & 職涯諮詢師</p>
      </div>
    </header>
    <main class="main">
      <div class="main-content">
        <p class="main-text fw-500 fs-3 mb-4">
          嗨，我是Alyse一名深耕前端技術的工程師。
        </p>
        <p class="main-text fw-500 fs-3 mb-4">
          擅長 React、Vue
          等框架，同時熱愛為轉職與新手工程師提供職涯指導。邀請你與我一起，開啟更具潛能的程式與職涯之旅！
        </p>
        <ul class="main-list d-flex">
          <li>
            <a href="#" class="main-link"><img src="/assets/images/Final/desktop/index/onlyIcon.png"
                alt="youtube" /></a>
          </li>
          <li>
            <a href="#" class="main-link"><img src="/assets/images/Final/desktop/index/onlyIcon-1.png"
                alt="youtube" /></a>
          </li>
          <li>
            <a href="#" class="main-link"><img src="/assets/images/Final/desktop/index/onlyIcon-2.png"
                alt="youtube" /></a>
          </li>
          <li>
            <a href="#" class="main-link"><img src="/assets/images/Final/desktop/index/icons8-linkedin.png"
                alt="youtube" /></a>
          </li>
          <li>
            <a href="#" class="main-link"><img src="/assets/images/Final/desktop/index/onlyIcon-3.png"
                alt="youtube" /></a>
          </li>
        </ul>
      </div>
    </main>
    <div class="container">
      <section class="server py-20">
        <h2 class="server-title mb-6 fw-700 fs-5">專業服務與方案</h2>
        <ul class="server-plan">
          <li class="server-list d-flex align-center mb-16" data-aos="fade-left">
            <img src="/assets/images/Final/desktop/index/photo.png" alt="work" />
            <div class="server-content p-6 bc-white position-relative">
              <div class="server-decorator">
                <div class="server-line"></div>
              </div>
              <h3 class="server-subtitle fw-700 fs-3 mb-2">履歷健檢</h3>
              <p class="server-text">
                履歷是打開機會之門的第一步。讓我協助你突顯專業技術與核心能力，並透過簡短模擬面試為你加分，讓面試官第一眼就被你吸引。
              </p>
            </div>
          </li>
          <li class="server-list d-flex align-center direction-r-reverse mb-16" data-aos="fade-right">
            <img src="/assets/images/Final/desktop/index/photo2.png" alt="work" />
            <div class="server-content server-right p-6 bc-white position-relative">
              <div class="server-decorator">
                <div class="server-line"></div>
              </div>
              <h3 class="server-subtitle fw-700 fs-3 mb-2">線上諮詢</h3>
              <p class="server-text">
                想快速解決前端學習瓶頸，或需要專業職涯指引？透過線上一對一諮詢，我將協助你更有方向地邁進。
              </p>
            </div>
          </li>
          <li class="server-list d-flex align-center mb-16" data-aos="fade-left">
            <img src="/assets/images/Final/desktop/index/photo3.png" alt="work" />
            <div class="server-content p-6 bc-white position-relative">
              <div class="server-decorator">
                <div class="server-line"></div>
              </div>
              <h3 class="server-subtitle fw-700 fs-3 mb-2">網頁開發</h3>
              <p class="server-text">
                想打造高效能、具美感的網站？我提供從需求訪談到架構實作的一站式服務，讓你的品牌與產品在線上脫穎而出。
              </p>
            </div>
          </li>
          <li class="server-list d-flex align-center direction-r-reverse mb-8" data-aos="fade-right">
            <img src="/assets/images/Final/desktop/index/photo4.png" alt="work" />
            <div class="server-content server-right p-6 bc-white position-relative">
              <div class="server-decorator">
                <div class="server-line"></div>
              </div>
              <h3 class="server-subtitle fw-700 fs-3 mb-2">企業內訓</h3>
              <p class="server-text">
                想讓團隊快速掌握前端最新技術或優化現有專案流程？我可協助打造專業、實用的企業內訓課程，一次解決團隊痛點。
              </p>
            </div>
          </li>
        </ul>
        <div class="server-more d-flex justify-flexend">
          <div class="d-flex align-center gap-2" data-aos="zoom-in-left" data-aos-delay="300">
            <h4 class="fw-700 fs-3 server-information">
              聯繫我，取得更多資訊！
            </h4>
            <a href="#"><img src="/assets/images/Final/desktop/index/Frame 18.png" alt="" /></a>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="featured py-20">
        <h2 class="featured-title fw-700 fs-5 mb-6">部落格精選</h2>
        <div>
          <div class="swiper">
            <ul class="featured-card swiper-wrapper">
              <li class="featured-list col-3 swiper-slide">
                <div>
                  <img src="/assets/images/Final/desktop/index/photo5.png" alt="code" class="featured-img" />
                </div>
                <div>
                  <time class="featured-date fw-500 mb-1">2024/10/21</time>
                  <div class="d-flex align-center gap-2">
                    <a href="#" class="featured-hashtag fs-2">#前端開發 #職涯成長</a>
                    <p class="featured-popularity fw-700">最新文章</p>
                  </div>
                  <h3 class="featured-content fw-700 fs-3 mb-2">
                    自學前端不用怕：從零開始的三大關鍵
                  </h3>
                  <p class="featured-text hide-text fw-500 mb-4">
                    嗨，我是
                    Alyse，一名前端工程師兼職涯諮詢師。一直以來，我都很喜歡在部落格分享學習與工作心得，也常有讀者問：「我想轉職/自學前端，該從哪裡開始？」
                    其實自學的過程既自由又具挑戰性。我整理了三大關鍵，幫助你在短期內建立紮實基礎，並快速累積實戰經驗。希望能替你的前端之路帶來一些啟發與動力！
                  </p>
                </div>
                <div>
                  <a href="#" class="featured-link fw-500">閱讀內文</a>
                </div>
              </li>
              <li class="featured-list col-3 swiper-slide">
                <div>
                  <img src="/assets/images/Final/desktop/index/photo6.png" alt="code" class="featured-img" />
                </div>
                <div>
                  <time class="featured-date fw-500 mb-1">2024/07/08</time>
                  <div class="d-flex align-center gap-2">
                    <a href="#" class="featured-hashtag fs-2">#面試準備 #工程師求職</a>
                    <p class="featured-popularity fw-700">人氣文章</p>
                  </div>
                  <h3 class="featured-content fw-700 fs-3 mb-2">
                    前端面試不再慌：破解常見提問的三大策略
                  </h3>
                  <p class="featured-text hide-text fw-500 mb-4">
                    面試前端工程師時，你或許擔心被問到各種刁鑽的技術題目，或是擔憂無法在短時間內展現實力。其實，許多面試官關注的重點並不僅是程式碼本身，更包含問題解決的流程與溝通能力。這篇文章將分享我在面試過程中常見的三大難題，以及如何以更具條理的方式回應，讓你在面試場合中脫穎而出。
                  </p>
                </div>
                <div>
                  <a href="#" class="featured-link fw-500">閱讀內文</a>
                </div>
              </li>
              <li class="featured-list col-3 swiper-slide">
                <div>
                  <img src="/assets/images/Final/desktop/index/photo7.png" alt="code" class="featured-img" />
                </div>
                <div>
                  <time class="featured-date fw-500 mb-1">2024/09/03</time>
                  <div>
                    <a href="#" class="featured-hashtag fs-2">#CSS設計 #視覺體驗</a>
                  </div>
                  <h3 class="featured-content fw-700 fs-3 mb-2">
                    CSS 魔法大揭密：排版與設計的三大關鍵技巧
                  </h3>
                  <p class="featured-text hide-text fw-500 mb-4">
                    在瀏覽器畫面上實現各種精美介面，一直是前端開發充滿成就感的部分。但當面臨複雜的佈局需求或是響應式設計時，往往讓人抓破頭皮。這篇文章想跟大家分享我在實務專案中累積的三大技巧，幫助你更有效率地駕馭
                    CSS，打造兼具美感與功能性的網頁。
                  </p>
                </div>
                <div>
                  <a href="#" class="featured-link fw-500">閱讀內文</a>
                </div>
              </li>
              <li class="featured-list col-3 swiper-slide">
                <div>
                  <img src="/assets/images/Final/desktop/index/photo5.png" alt="code" class="featured-img" />
                </div>
                <div>
                  <time class="featured-date fw-500 mb-1">2024/10/21</time>
                  <div class="d-flex align-center gap-2">
                    <a href="#" class="featured-hashtag fs-2">#前端開發 #職涯成長</a>
                    <p class="featured-popularity fw-700">最新文章</p>
                  </div>
                  <h3 class="featured-content fw-700 fs-3 mb-2">
                    自學前端不用怕：從零開始的三大關鍵
                  </h3>
                  <p class="featured-text hide-text fw-500 mb-4">
                    嗨，我是
                    Alyse，一名前端工程師兼職涯諮詢師。一直以來，我都很喜歡在部落格分享學習與工作心得，也常有讀者問：「我想轉職/自學前端，該從哪裡開始？」
                    其實自學的過程既自由又具挑戰性。我整理了三大關鍵，幫助你在短期內建立紮實基礎，並快速累積實戰經驗。希望能替你的前端之路帶來一些啟發與動力！
                  </p>
                </div>
                <div>
                  <a href="#" class="featured-link fw-500">閱讀內文</a>
                </div>
              </li>
              <li class="featured-list col-3 swiper-slide">
                <div>
                  <img src="/assets/images/Final/desktop/index/photo6.png" alt="code" class="featured-img" />
                </div>
                <div>
                  <time class="featured-date fw-500 mb-1">2024/07/08</time>
                  <div class="d-flex align-center gap-2">
                    <a href="#" class="featured-hashtag fs-2">#面試準備 #工程師求職</a>
                    <p class="featured-popularity fw-700">人氣文章</p>
                  </div>
                  <h3 class="featured-content fw-700 fs-3 mb-2">
                    前端面試不再慌：破解常見提問的三大策略
                  </h3>
                  <p class="featured-text hide-text fw-500 mb-4">
                    面試前端工程師時，你或許擔心被問到各種刁鑽的技術題目，或是擔憂無法在短時間內展現實力。其實，許多面試官關注的重點並不僅是程式碼本身，更包含問題解決的流程與溝通能力。這篇文章將分享我在面試過程中常見的三大難題，以及如何以更具條理的方式回應，讓你在面試場合中脫穎而出。
                  </p>
                </div>
                <div>
                  <a href="#" class="featured-link fw-500">閱讀內文</a>
                </div>
              </li>
              <li class="featured-list col-3 swiper-slide">
                <div>
                  <img src="/assets/images/Final/desktop/index/photo7.png" alt="code" class="featured-img" />
                </div>
                <div>
                  <time class="featured-date fw-500 mb-1">2024/09/03</time>
                  <div>
                    <a href="#" class="featured-hashtag fs-2">#CSS設計 #視覺體驗</a>
                  </div>
                  <h3 class="featured-content fw-700 fs-3 mb-2">
                    CSS 魔法大揭密：排版與設計的三大關鍵技巧
                  </h3>
                  <p class="featured-text hide-text fw-500 mb-4">
                    在瀏覽器畫面上實現各種精美介面，一直是前端開發充滿成就感的部分。但當面臨複雜的佈局需求或是響應式設計時，往往讓人抓破頭皮。這篇文章想跟大家分享我在實務專案中累積的三大技巧，幫助你更有效率地駕馭
                    CSS，打造兼具美感與功能性的網頁。
                  </p>
                </div>
                <div>
                  <a href="#" class="featured-link fw-500">閱讀內文</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="consult py-20">
        <h2 class="consult-title fw-700 fs-5 mb-6">職涯諮詢成功案例</h2>
        <div class="consult-description d-flex justify-space-between mb-10">
          <div class="consult-img-box p-6 bc-ed">
            <img src="/assets/images/Final/desktop/index/photo8.png" alt="woman" class="consult-img" />
          </div>
          <div>
            <div class="consult-description-top bc-white" data-aos="zoom-in-left">
              <div class="server-decorator mb-6">
                <div class="server-line"></div>
              </div>
              <p class="fw-700">
                在職涯發展的關鍵轉折點上，適時的協助與正確的方向至關重要。藉由職涯諮詢，我可以幫助你加速釐清目標、建立更全面的技術與軟實力，並有效<span
                  class="primary-text">突破原有的舒適圈</span>。
              </p>
            </div>
            <div class="consult-description-bottom bc-f5" data-aos="fade-up" data-aos-delay="300">
              <div class="server-decorator mb-6">
                <div class="server-line"></div>
              </div>
              <p class="fw-700 mb-6">
                期待在下一個新機會中，我能與你一起攜手邁向更高峰！
              </p>
              <div>
                <a href="#" class="consult-description-bottom-link fw-700">立即預約諮詢</a>
              </div>
            </div>
          </div>
        </div>
        <div class="consult-case bc-f5 p-3">
          <ul class="consult-card row d-flex">
            <li class="consult-list col-4">
              <div class="mb-4">
                <img src="/assets/images/Final/desktop/index/people.png" alt="people" />
              </div>
              <div>
                <h4 class="fw-700 fs-2 mb-2">無經驗到前端工程師 Offer</h4>
                <div class="d-flex gap-2 mb-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">打造前端專案與履歷亮點</p>
                </div>
                <div class="d-flex gap-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">深度強化面試表現</p>
                </div>
              </div>
              <hr />
              <a href="#" class="consult-card-link fw-500 info-text mt-3">前往聆聽 podcast</a>
            </li>
            <li class="consult-list col-4">
              <div class="mb-4">
                <img src="/assets/images/Final/desktop/index/people2.png" alt="people" />
              </div>
              <div>
                <h4 class="fw-700 fs-2 mb-2">轉職迷茫到明確學習規劃</h4>
                <div class="d-flex gap-2 mb-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">制訂階段性目標與時間安排</p>
                </div>
                <div class="d-flex gap-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">鼓勵參與前端社群或活動</p>
                </div>
              </div>
              <hr />
              <a href="#" class="consult-card-link fw-500 info-text mt-3">前往聆聽 podcast</a>
            </li>
            <li class="consult-list col-4">
              <div class="mb-4">
                <img src="/assets/images/Final/desktop/index/people3.png" alt="people" />
              </div>
              <div>
                <h4 class="fw-700 fs-2 mb-2">面試緊張到從容應對</h4>
                <div class="d-flex gap-2 mb-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">透過面試模擬找出常犯的邏輯漏洞</p>
                </div>
                <div class="d-flex gap-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">討論遇到不熟悉議題時的回應方式</p>
                </div>
              </div>
              <hr />
              <a href="#" class="consult-card-link fw-500 info-text mt-3">前往聆聽 podcast</a>
            </li>
            <li class="consult-list col-4">
              <div class="mb-4">
                <img src="/assets/images/Final/desktop/index/people4.png" alt="people" />
              </div>
              <div>
                <h4 class="fw-700 fs-2 mb-2">面試緊張到從容應對</h4>
                <div class="d-flex gap-2 mb-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">擬定進階框架或技術研究目標</p>
                </div>
                <div class="d-flex gap-2">
                  <input type="checkbox" checked />
                  <p class="fw-500 info-text">培養跨團隊溝通與簡報能力</p>
                </div>
              </div>
              <hr />
              <a href="#" class="consult-card-link fw-500 info-text mt-3">前往聆聽 podcast</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section class="donate d-flex">
      <div class="flex-1">
        <img src="/assets/images/Final/desktop/index/photo9.png" alt="woman" class="donate-img" />
      </div>
      <div class="donate-position flex-1 d-flex justify-center align-center">
        <div class="donate-content p-20 bc-white" data-aos="flip-down" data-aos-duration="500" data-aos-delay="200">
          <h3 class="donate-content-title fw-700 fs-5 mb-4">訂閱電子報</h3>
          <p class="fw-500 fs-1 mb-6">
            立即訂閱，搶先掌握<span class="primary-text">前端 x 職涯</span>的獨家資訊！
          </p>
          <div class="mb-6 d-flex f-direction-column">
            <input type="text" placeholder="請輸入您的大名" class="donate-input bc-f1 fw-500 fs-1 mb-2" />
            <input type="text" placeholder="請輸入您的電子信箱" class="donate-input bc-f1 fw-500 fs-1" />
          </div>
          <a href="#" class="donate-link">啟動訂閱</a>
        </div>
      </div>
    </section>
    <div class="border-1">
      <div class="container">
        <div class="connect py-20">
          <h2 class="connect-title fw-700 fs-5 mb-6">與我聯繫</h2>
          <ul>
            <li class="connect-list d-flex justify-space-between align-center mb-4 border-bottom-1" data-aos="fade-left"
              data-aos-delay="100">
              <div class="connect-list-mail d-flex align-center gap-4">
                <a href="mailto:alysewang@hexschool.com" class="connect-mail fw-500 fs-7">alysewang@hexschool.com</a>
                <p class="fw-500 fs-3">合作洽談</p>
              </div>
              <div>
                <a href="#"><img src="/assets/images/Final/desktop/index/right.png" alt="arrow" /></a>
              </div>
            </li>
            <li class="connect-list d-flex justify-space-between align-center mb-4 border-bottom-1" data-aos="fade-left"
              data-aos-delay="200">
              <div class="d-flex align-center gap-2">
                <img src="/assets/images/Final/desktop/index/onlyIcon.png" alt="yt" />
                <p class="fw-500 fs-3">Youtube 職涯諮詢室</p>
              </div>
              <div>
                <a href="#"><img src="/assets/images/Final/desktop/index/right.png" alt="arrow" /></a>
              </div>
            </li>
            <li class="connect-list d-flex justify-space-between align-center mb-4 border-bottom-1" data-aos="fade-left"
              data-aos-delay="300">
              <div class="d-flex align-center gap-2">
                <img src="/assets/images/Final/desktop/index/onlyIcon-1.png" alt="yt" />
                <p class="fw-500 fs-3">podcast 職涯諮詢室</p>
              </div>
              <div>
                <a href="#"><img src="/assets/images/Final/desktop/index/right.png" alt="arrow" /></a>
              </div>
            </li>
            <li class="connect-list d-flex justify-space-between align-center mb-4 border-bottom-1" data-aos="fade-left"
              data-aos-delay="400">
              <div class="d-flex align-center gap-2">
                <img src="/assets/images/Final/desktop/index/onlyIcon-2.png" alt="yt" />
                <p class="fw-500 fs-3">Facebook 前端社群</p>
              </div>
              <div>
                <a href="#"><img src="/assets/images/Final/desktop/index/right.png" alt="arrow" /></a>
              </div>
            </li>
            <li class="connect-list d-flex justify-space-between align-center mb-4 border-bottom-1" data-aos="fade-left"
              data-aos-delay="500">
              <div class="d-flex align-center gap-2">
                <img src="/assets/images/Final/desktop/index/icons8-linkedin.png" alt="yt" />
                <p class="fw-500 fs-3">Linkedin 職涯交流</p>
              </div>
              <div>
                <a href="#"><img src="/assets/images/Final/desktop/index/right.png" alt="arrow" /></a>
              </div>
            </li>
            <li class="connect-list d-flex justify-space-between align-center mb-4 border-bottom-1" data-aos="fade-left"
              data-aos-delay="600">
              <div class="d-flex align-center gap-2">
                <img src="/assets/images/Final/desktop/index/onlyIcon-3.png" alt="yt" />
                <p class="fw-500 fs-3">Instagram 日常分享</p>
              </div>
              <div>
                <a href="#"><img src="/assets/images/Final/desktop/index/right.png" alt="arrow" /></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        new Swiper('.swiper', {
          spaceBetween: 24,
          navigation: {
            nextEl: '.arrow-next',
            prevEl: '.arrow-pre',
          },
          slidesPerView: 1,
          breakpoints: {
            768: {
              slidesPerView: 2,
              grid: {
                rows: 1
              },
              spaceBetween: 24
            },
            992: {
              slidesPerView: 3,
              grid: {
                rows: 1
              },
              spaceBetween: 24
            }
          }
        })
      </script>
      <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init({
          // ─── 可用 `data-aos-*` 覆寫的項目
          offset: 120,                   // 觸發動畫時，元素與視窗的距離（px）
          delay: 0,                      // 動畫延遲 0–3000 ms，步進 50 ms
          duration: 600,                 // 動畫時長 0–3000 ms，步進 50 ms
          easing: 'ease',                // 動畫預設 easing 函式
          once: false,                   // true 表示動畫只在第一次向下滾動時播放
          mirror: true,                 // true 表示滾過元素後向上滑回可再次播放（鏡像效果）
          anchorPlacement: 'top-bottom', // 判定元素相對視窗的位置來觸發動畫，例如 'top-bottom' 代表元素頂端到視窗底端
        });
      </script> -->
      <script type="module" src="../main.js"></script>
</body>

</html>